/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 85px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: helvetica;
}

img {
  vertical-align: middle;
}

.container {

  margin-right: auto;
  margin-left: auto;

}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

/*Estilos del scroll*/
.scroll{
  position: fixed;
  top:0px;
  left: 0px;
  background: white;
  height: 100px;
  width: 100%;
}
.scroll a{
  position: relative;
  bottom: 40%;
  font-weight: bold;
  font-size: 17px;
  margin-left: 30px;
  left: 100px;
  top: 35px;

}
#logo{
  position: absolute;
  width: 70px;
  height: 70px;
  right: 150px;
  top: 10px;
}

/* Estilos del footer*/
footer p{
  bottom: 0px;
  width: 100%;
  background: #424242;
  color: white;
  height: 80px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 18px;
}
/*Estilos de la primera sección*/
.first{
  text-align: center;
  color: white;
  position: relative;
  transform: translateY(-150%);
}
figure{
  margin: 0;
}
#image1{
  width: 100%;
}

/*Estilos del botón*/
.first a{
  position: relative;
  padding: 10px;
  background-color: green;
}
/*Estilos de la segunda sección*/
#second{
  position: relative;
  top: 0px;
  background-color: coral;
  color: white;
  text-align: center;
}
#third{
padding-top: 20px;
  text-align: center;
}
#image2{
  width: 700px;
}
/*Estilos de la tabla de imágenes y texto*/
.table img{
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 25px;
}
.table span{
  position: absolute;
  
}
